@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

#wrapper h1 {
  width: 100%;
}

#searchBar {
  width: 200px;
  padding-top: 82px;
}
#results {
  padding-top: 73px;
  border: 2px black;
}
#results tr td {
  padding: 10px;
}
.header {
  display: block;
  position: absolute;
}
#header {
  padding-left: 230px;
}
.main {
  display: block;
  position: absolute;
}

#resultsNames {
  margin-right: 50px;
}

#resultsAreas {
  margin-right: 50px;
}
#resultsHours {
  margin-right: 50px;
}

.h3 {
  padding-left: 900px;
  margin-bottom: -1.5rem;
}
.ul {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h {
  padding-left: 120px;
}

.resultsHeaders {
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #00c4a7;
}
thead th {
  width: 30%;
}
