@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

#wrapper h1 {
  width: 100%;
}

#searchBar {
  width: 200px;
  padding-top: 82px;
}
#results {
  padding-top: 73px;
  border: 2px black;
  width: 940px;
}
#results tr td {
  padding: 10px;
}
.header {
  display: block;
  position: absolute;
}
#header {
  padding-left: 230px;
}
.main {
  display: block;
  position: absolute;
}

#resultsNames {
  margin-right: 50px;
}

#resultsAreas {
  margin-right: 50px;
}
#resultsHours {
  margin-right: 50px;
}

.h3 {
  padding-left: 900px;
  margin-bottom: -1.5rem;
}
.ul {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h {
  padding-left: 120px;
}

.resultsHeaders {
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #00c4a7;
}
thead th {
  width: 30%;
}
.horizontalButtons {
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subCenter {
  padding-right: 2em;
  text-align: center;
}
.spaceBetween {
  margin-left: 25px;
  margin-top: 20px;
}
/* Last minute */
form{
  width:1024px;
  }
  label{
  font-size:16px;
  }
  .horizontalButtons{
  width:824px;
  display:inline;
  }
  .horizontalButtons strong{
  font-size:16px;
  padding-right: 10px;
  }
  .spaceBetween{
  margin: 4px 25px 0 10px;
  }
  #dateDiv{
  font-size: 20px;
  }
  .resultssection{
    padding-top: 1rem;
  }
  #searchPhraseBox{
    height: 50px;
  }
  #searchBtn{
    width:235px;
  }